<ion-content class="not-found-content ion-text-center">
  <div class="not-found-container animate__animated animate__fadeIn">
    <ion-icon name="alert-circle-outline" class="not-found-icon"></ion-icon>

    <h2 class="not-found-title">Session en mantenimiento</h2>
    <p class="not-found-text">
      Ups... parece que esta sección no fue encontrada.
    </p>

    <ion-button routerLink="/inicio" expand="block" color="dark" class="not-found-button">
      Volver al inicio
    </ion-button>
  </div>
</ion-content>
